<h1>Ajouter une tâche</h1>
<p>Remplir le formulaire ci-dessous pour ajouter une tâche:</p>

<%= form_for(@task) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :status %>
  <%= f.check_box :status %>

  <%= f.label :content %>
  <%= f.text_field :content %>

  <%= f.submit %>
<% end %>
